<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="container">
    <h2>Reset Password</h2>
    <form action="/resetpass" method="post">
        <div class="input-field">
            <input type="text" name="reset_password_token" autocomplete="off" {{if .ResetPassToken}} value="{{.ResetPassToken}}"{{end}} required>
        </div>
        <div class="input-field">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="input-field">
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        </div>
        <input type="submit" value="Reset Password">
    </form>
    
    <div class="extra-options">
        <a href="/login">Figure out your password? Login</a>
    </div>
</div>

</body>
</html>
