<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="container">
    <h2>Welcome to the home of Human Slop, {{.Username}}</h2>
    
    
    <a href="/logout" class="btn-secondary">Logout</a>
</div>

</body>
</html>
